@scope (input[type="text"]) {
    & {
        border: 1px solid var(--silver);
        display: block;
        padding: 1rem;
        border-radius: 8px;
        opacity: 0.5;
        width: 100%;
    }

    [data-empty="true"] & {
        opacity: 50%;
    }
}
