@scope (input[type="text"]) {
    & {
        border: 1px solid var(--silver);
        display: block;
        padding: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 05%);
        border-radius: 8px;
        opacity: 0.5;
        width: 100%;
    }
}
