@scope (#Counters) {
    & {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 1rem 0 1rem 0;
        /* @TODO Improve this?*/
        /*min-height: calc(100vh - 12px);*/
    }

    section.search {
        padding: 0 1rem 0 1rem;
    }

    section.counters {
        flex: 1;
        padding: 1.5rem 10px 0 10px;

        &:has(.loader) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    section.actions {
        border-top: 1px solid rgba(0, 0, 0, 10%);
        display: flex;
        flex-direction: row-reverse;
        justify-self: flex-end;
        margin: 0 1rem 0 1rem;
        padding-top: 1rem;
    }
}
