@scope (.pill) {
    --border-color: #dcdcdf;

    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    background-color: var(--silver);
    border: 1px solid var(--border-color);

    &:not(:first-child) {
        margin-left: 1rem;
    }

    &:hover {
        filter: brightness(0.95);
    }
}
