@scope (.create-counter-suggestion) {
    .pill-section {
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 1.87rem;
        gap: 1rem;
    }

    p {
        margin-bottom: 1.87rem;
    }

    h4 {
        text-transform: capitalize;
        margin-bottom: 0.5rem;
    }
}
