@scope (button) {
    & {
        border: 0;
        outline: 0;
        padding: 8px 24px;
        border-radius: 8px;
    }

    &[data-variant="primary"] {
        color: white;
        background: var(--yellow);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
    }

    &[data-variant="secondary"] {
        color: var(--yellow);
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
    }

    &[data-variant="destructive"] {
        color: var(--red);
        background: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
    }
}
