:root {
    --yellow: #fd9400;
    --red: #fc3a2f;
    --silver: #ececec;
    --silver-darker: #7b7e83;
    --gray: #888b90;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    --background: #f9f9f9;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background: var(--background);
    max-width: 100vw;
}

[data-shadow-15="true"] {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 15%);
}

[data-shadow-10="true"] {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 10%);
}

[data-shadow-05="true"] {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 5%);
}
