:root {
    --yellow: #fd9400;
    --red: #fc3a2f;
    --silver: #ececec;
    --silver-darker: #7b7e83;
    --gray: #888b90;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    --background: #f9f9f9;
    font-family: "Avenir Next", "Avenir", sans-serif;
    background: var(--background);
    max-width: 100vw;
}
